# Ignore Windows ADS artifacts
*:Zone.Identifier

# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.so
.env
venv/
env/
.venv/
pip-wheel-metadata/
*.egg-info/

# PlatformIO
.pio/
.pioenvs/
build/

# VSCode
.vscode/
.history/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Docker
docker-compose.override.yml
.env

# Editor temporary
*~
*.swp
*.swo

# Logs
*.log

# IDE
.idea/

# Test caches
.pytest_cache/

# Installer scripts
get-platformio.py

# Windows ADS artifacts
*:Zone.Identifier
